<h1>Homepage - You Must Be Hungry</h1>

<br />

<div id="map"></div>

<% if current_user %>
	<%= link_to "Add a place", new_place_path %>
<% else %>
<% end %>
<% @count = 0 %>
<ul>
	<% @places.each do |p| %>
		<li class="places">
			Name: <span class="name<%= @count %>"><%= p.name %></span> <br />
			Address: <span class="address<%= @count %>"><%= p.address %></span> <br />
			Notes: <span class="notes<%= @count %>"><%= p.notes %></span> <br />
			<%= link_to "Delete", 'places/' + p.id, method: :delete %>
			<%= link_to 'Edit', edit_place_path(p) %>
		</li>
		<% @count = @count + 1 %>
	<% end %>
</ul>
