<!DOCTYPE html>
<html>
<head>
  <title>Foodgrabit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>

  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwxiOWzN5SQpc4_85EiSTpAZxJFfMe9uE">
</script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

	<div class="row-fluid pull-right">
		<div class="login-shiv">
			<% if current_user %>
				Welcome, <%= current_user.name %> --
				<%= link_to "Log out", session_path, method: :delete, class: "btn btn-success" %>
			<% end %>
		</div>
	</div>

	<%= yield %>

</body>
</html>
