<!DOCTYPE html>
<html>
<head>
  <title>Foodgrabit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwxiOWzN5SQpc4_85EiSTpAZxJFfMe9uE">
</script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<div class="row-fluid pull-right">
	<div class="login-shiv">
		<% if current_user %>
			Welcome, <%= current_user.name %> --
			<%= link_to "Log out", session_path, method: :delete %>
		<% else %>
			<%#= link_to "Sign up", new_user_path %>  
			<%#= link_to "Log in", new_session_path %>
		<% end %>
	</div>
</div>

<div class="container">
	<%= yield %>
</div>
</body>
</html>
